.loginbar-bg{
    background-color: var(--dark-brown);
    padding: 0.5rem;
    color: var(--color-white);
}

.loginbar-contact{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 80%;
}

.loginbar-contact .u-text-small{
    display: flex;
    align-items: center;
}

.loginbar-number{
    padding-left: 35px;
}


@media screen and (max-width:650px) {
    .loginbar-contact{
        width: 100%;
        justify-content: center;
        margin: 0;
    }

   .loginbar-contact .u-text-small{
        display: none;
   } 
}