
.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.header h1{
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    padding-bottom: 2rem;
    position: relative;


}

.header h1::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65%;
    height: 1px;
    background: var(--color-white);
}

.header-left{
    flex: 1;
    margin-top: 100px;
}

.header-right{
    flex: 1;
}
.header-left span{
    display: block;
    color: var(--color-white );
}

.header-left p{
    font-size: 1.6rem;
    margin: 3rem 0;
    font-weight: normal;
    
}