



.header h1{
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    padding-bottom: 2rem;
    position: relative;



}

.header h1 span{
    background-image: var(--linear-text);
    background-clip: text;
    color: transparent;
}

.header h1::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65%;
    height: 1px;
    background: var(--color-white);
}

.header-left{
    /* flex: 1; */
    margin-top: 200px;
    width: 50%;
}

.header-right{
    /* flex: 1; */
}
.header-left span{
    display: block;
    color: var(--color-white );
}

.header-left p{
    font-size: 1.6rem;
    margin: 3rem 0;
    font-weight: normal;
    
}


@media screen and (max-width:700px) {
    .header{
        

    }

    .header-left{
        width: 100%;
    }

    .header-right{
   display: none;
    }
}