.navbar{
    background: var(--color-white);
    padding: 10px;
    position: sticky;
}

.navbar .container{
    display: flex;
    align-items: center;

justify-content: space-between;}

.logo img{
    width: 50px;
}

.nav-links{
    display: flex;
}

.nav-links li{
    margin-left: 1rem;
    list-style: none;

}

.nav-links a{
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
}

.nav-links a:hover{
    color: var(--dark-brown);
}