.works{
    display: flex;

}

.works-left{
    flex: 1;
}
.works-left img{
    width: 70%;
}

.works-right{
    flex: 1;
    margin-top: 100px;

}

.works-label{
    color:  var(--light-purple);
}

.works-right h1{
    color:#000;
    font-size: 3rem;
    margin-bottom: 20px;
}


.works-right p{
    margin-bottom: 30px;
    width: 80%;
}


@media screen and (max-width:700px) {
    .works{
        display: block;
        width: 100vw;

        padding: 10%;
    }

    .works-left img{
        width: 90%;
    }

    .works-right{
        margin-top: 0px;
    
    }
}