

/* Text styles */
.u-text-small {
    font-size: 1.9rem;
    line-height: 1.4;
    font-weight: 300;
  }
  
  .u-text-dark {
    color: var(--dark-text);
  }
  .u-text-light {
    color: var(--color-white);
  }
  
  .u-text-center {
    text-align: center;
  }
  
  /* Title */
  .u-title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }
  
  .u-title h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }
  
  .u-title p {
    width: 50%;
    min-width: 40rem;
    margin: 0 auto;
    color: var(--dark-text);
  }

  .u-form-btn{
    background: rgba(0, 255, 199, 0.12);
    border: 5px solid #0F052F;
    border-radius: 5px;
  }

  
  
  
  
  
  
  
  