#footer{
    background: var(--light-brown);
    display: flex;
    padding: 0;
    flex-direction: column;
    padding-top: 6rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    

}

.footer-values{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    height: 30vh;

}

.footer hr{
    width: 5px;
    height: 30vh;
    background-color: var(--dark-brown);
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1;
    height: 30vh;
}

.footer-contact{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 30vh;

}

.footer-end{
    background: var(--dark-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    width: 100vw;
}

.footer-social-icons{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--color-white);
}



.footer-social-icon{
    margin: 2rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border: 2px solid #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .footer{
        flex-direction: column;
        margin-bottom:0px;
        width: 100vw;
    }
    .footer hr{
        width: 65%;
        height: 5px;
        background-color: var(--dark-brown);
        margin-top: 20px;
    }
    
}